/* Measurements ------------------------------------------------------------- */
/* Colours ------------------------------------------------------------------ */
/* primary colours */
/* secondary colours */
/* interface colours */
/* control colours */
/* custom easings */
content {
  width: 100%; }

.documentation nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  overflow: auto;
  width: 280px; }
.documentation .main {
  width: calc(100% - 280px);
  height: 100%;
  margin-left: 280px;
  padding: 4em 15%;
  box-sizing: border-box; }
  .documentation .main h1 {
    border-left: 5px solid #FA7F36;
    font-weight: 500;
    font-size: 24px;
    padding-left: 20px;
    text-transform: uppercase;
    line-height: 24px; }
    .documentation .main h1 span {
      color: #DCDCDC; }
  .documentation .main article header {
    background: inherit;
    color: #000032;
    padding: 0; }
    .documentation .main article header h3 {
      font-weight: 300;
      text-transform: none; }
  .documentation .main .line {
    margin: 40px 0;
    height: 0px;
    padding: 0;
    border-bottom: 1px solid #f0f0f0; }
.documentation figure {
  margin: 0; }
  .documentation figure pre {
    font-family: Menlo, Monaco, Courier;
    border: 1px solid #ddd;
    padding: 20px;
    background: #f0f0f0;
    font-size: 14px;
    overflow: auto;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 500;
    overflow: auto; }

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em; }

th, td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top; }

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0; }

tr > td {
  border-top: 1px solid #eaeaea; }

tr:nth-child(odd) > td {
  background: #fcfcfc; }

thead th, th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap; }
