.dsb-tooltip {
	background: $datasift-slate;
	color: $text-color;
	padding: 10px;
	position: absolute;
	width: 200px;
	z-index: 99;
	font-size: 0.8125rem;

	&::before {
		position: absolute;
        content: "";
	}

	&.top::before {
		@include triangle(12px, $datasift-slate, down);
		bottom: -6px;
	}

	&.right::before {
		@include triangle(12px, $datasift-slate, right);
		right: -6px;
	}

	&.bottom::before {
		@include triangle(12px, $datasift-slate, up);
		top: -6px;
	}

	&.left::before {
		@include triangle(12px, $datasift-slate, left);
		left: -6px;
	}
}