/* --------------------------------------------------------
    HEADER
    Basic header with the DataSift logo and sub property
-------------------------------------------------------- */

header {
	background: $datasift-night-sky;
	color: white;
	font-weight: 300;
	line-height: 32px;
	padding: 20px;
	text-transform: uppercase;

	img {
		float: left;
		margin-right: 10px;
	}
}