/* --------------------------------------------------------
    HEADER
    Basic header with the DataSift logo and sub property
-------------------------------------------------------- */

header {
	background: $datasift-night-sky;
	color: white;
	font-weight: 300;
	line-height: 32px;
	padding: 20px;
	text-transform: uppercase;

	img {
		float: left;
		margin-right: 10px;
	}

	nav {
		float: right;
		text-transform: none;

		a {
			color: $datasift-white;
			display: inline-block;
			padding: 0px 10px;

			&:hover {
				color: $datasift-orange;
			}
		}
	}
}