/* Measurements ------------------------------------------------------------- */

$content-width: 940px;
$grid-column-count: 12;


/* Colours ------------------------------------------------------------------ */

$text-color: #000032;
$text-color-light: #b2b9bf;

/* primary colours */
$datasift-orange: #FA7F36;
$datasift-night-sky: #393943;

/* secondary colours */
$datasift-slate: #50626F;
$datasift-blue: #42A7CA;
$datasift-teal: #1FBAA6;
$datasift-ash: #f0f0f0;
$datasift-white: #fff;

/* interface colours */
$datasift-success: #52cb60;
$datasift-warning: #ff9e2b;
$datasift-error: #e74c3c;