---
---

@import 'variables';

	content {
		width: 100%;
	}


.documentation {

	border-top: 60px solid $datasift-night-sky;


	nav {
		position: fixed;
	    top: 60px;
	    left: 0px;
	    background: #fff;
	    border-right: 1px solid $datasift-ash;
	    height: 100%;
	    overflow: auto;
	    width: 280px;
	    box-shadow: 0px 3px 0.5em 1px $datasift-ash;
	    padding: 20px;
	    box-sizing: border-box;

	    h3 {
	    	font-size: 14px;
	    	text-transform: uppercase;
	    }
	}

	.main {
		width: calc(100% - 280px);
	    height: 100%;
	    margin-left: 280px;
	    padding: 4em;
	    box-sizing: border-box;

	    section {

	    	h1 {
		    	border-left: 5px solid $datasift-orange;
		    	font-weight: 500;
		    	font-size: 24px;
		    	padding-left: 20px;
		    	text-transform: uppercase;
		    	line-height: 24px;
		    	margin-top: 80px;

		    	span {
		    		color: #DCDCDC;
		    		margin-bottom: 5px;
		    		display: block;
		    	}
		    }

		    &:first-child h1:first-child {
	    		margin-top: 0;
	    	}
	    }

	

	    article {

	    	max-width: 900px;

	    	header {
	    		background: inherit;
	    		color: $text-color;
	    		padding: 0;

	    		h3 {
	    			font-weight: 500;
	    			text-transform: none;
	    		}
	    	}

	    	.content {
	    		h3 {
	    			font-weight: 300;
	    			font-size: 24px;
	    		}

	    		p code {
	    			background: #eaeaea;
	    			border-radius: 3px;
	    			display: inline-block;
	    			padding: 0px 5px;
	    		}
	    	}
	    }

	    .line {
	    	margin: 40px 0;
	    	height: 0px;
	    	padding: 0;
	    	border-bottom: 1px solid $datasift-ash;
	    }
	}

	figure { 
		margin: 0;

		pre {
		    border: 1px solid #eaeaea;
		    padding: 20px;
		    background: #fcfcfc;
		    font-size: 14px;
		    overflow: auto;
		    overflow: auto;
		    font-family: 'Source Code Pro', Menlo, monospace;
			line-height: 1.5em;
			font-weight: 500;
		}
	}
}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	line-height: 1.5em;
	border: 1px solid #eaeaea;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}